assets/attachments/nifi-parameter-context-inheritance/Parameter_Context_Inheritance_Demo.json
{"flowContents":{"identifier":"fbf35fd4-1d42-3e29-9b6d-c210900ca205","name":"Parameter Context Inheritance Demo","comments":"","position":{"x":622.0,"y":137.5},"processGroups":[{"identifier":"906670b1-1755-3f57-89be-aa5cb96b3b0a","name":"Kafka to GCP Cloud Storage: Source DEF","comments":"","position":{"x":904.0,"y":288.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"60e29b05-ddbb-3f86-9894-041e085bbc77","name":"Set site-specific attributes","comments":"","position":{"x":280.0,"y":240.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","data.manager":"#{Site Data Manager}","Stateful Variables Initial Value":null,"site.identifier":"#{Site Identifier}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"data.manager":{"name":"data.manager","displayName":"data.manager","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"site.identifier":{"name":"site.identifier","displayName":"site.identifier","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"906670b1-1755-3f57-89be-aa5cb96b3b0a"},{"identifier":"e934bbf0-52e0-3e23-b9a4-5132aba6dbf5","name":"ConsumeKafkaRecord_2_6","comments":"","position":{"x":280.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","properties":{"header-name-regex":null,"Commit Offsets":"true","record-writer":null,"group.id":"#{Kafka Group ID}","bootstrap.servers":"#{Kafka Brokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","record-reader":null,"message-header-encoding":"UTF-8","sasl.username":null,"max.poll.records":"10000","security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Topic}","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"906670b1-1755-3f57-89be-aa5cb96b3b0a"},{"identifier":"3f3b090b-d05b-3adc-a769-5b7ea8ff4fc8","name":"PutGCSObject","comments":"","position":{"x":280.0,"y":440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","properties":{"gcp-proxy-host":null,"gcs-content-disposition-type":null,"gcp-retry-count":"6","proxy-configuration-service":null,"gcs-overwrite-object":"true","gcp-proxy-user-name":null,"gcs-object-md5":null,"gcs-content-type":"${mime.type}","gcs-object-crc32c":null,"gcp-project-id":"#{GCP Project ID}","GCP Credentials Provider Service":null,"gcs-key":"${filename}","gcp-proxy-port":null,"gcs-bucket":"#{GCS Bucket}","gcs-object-acl":null},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false},"gcs-content-disposition-type":{"name":"gcs-content-disposition-type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"gcs-server-side-encryption-key":{"name":"gcs-server-side-encryption-key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true},"gcs-overwrite-object":{"name":"gcs-overwrite-object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false},"gcs-object-md5":{"name":"gcs-object-md5","displayName":"MD5 Hash","identifiesControllerService":false,"sensitive":false},"gcs-content-type":{"name":"gcs-content-type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"gcs-object-crc32c":{"name":"gcs-object-crc32c","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"gcs-key":{"name":"gcs-key","displayName":"Key","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"gcs-object-acl":{"name":"gcs-object-acl","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"906670b1-1755-3f57-89be-aa5cb96b3b0a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"aa54a46a-5e1d-36a3-992d-d58f039d523e","name":"","source":{"id":"60e29b05-ddbb-3f86-9894-041e085bbc77","type":"PROCESSOR","groupId":"906670b1-1755-3f57-89be-aa5cb96b3b0a","name":"Set site-specific attributes","comments":""},"destination":{"id":"3f3b090b-d05b-3adc-a769-5b7ea8ff4fc8","type":"PROCESSOR","groupId":"906670b1-1755-3f57-89be-aa5cb96b3b0a","name":"PutGCSObject","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"906670b1-1755-3f57-89be-aa5cb96b3b0a"},{"identifier":"57d06d29-8bb8-33ee-92b4-b4232ab6e071","name":"","source":{"id":"e934bbf0-52e0-3e23-b9a4-5132aba6dbf5","type":"PROCESSOR","groupId":"906670b1-1755-3f57-89be-aa5cb96b3b0a","name":"ConsumeKafkaRecord_2_6","comments":""},"destination":{"id":"60e29b05-ddbb-3f86-9894-041e085bbc77","type":"PROCESSOR","groupId":"906670b1-1755-3f57-89be-aa5cb96b3b0a","name":"Set site-specific attributes","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"906670b1-1755-3f57-89be-aa5cb96b3b0a"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"DEF Kafka to GCS","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"fbf35fd4-1d42-3e29-9b6d-c210900ca205"},{"identifier":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6","name":"Kafka to Elasticsearch: Source GHI","comments":"","position":{"x":1312.0,"y":288.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"89d26e5d-6b62-3259-9c7b-27cf7e70f2a6","name":"Set site-specific attributes","comments":"","position":{"x":304.0,"y":264.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","data.manager":"#{Site Data Manager}","Stateful Variables Initial Value":null,"site.identifier":"#{Site Identifier}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"data.manager":{"name":"data.manager","displayName":"data.manager","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"site.identifier":{"name":"site.identifier","displayName":"site.identifier","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6"},{"identifier":"92d0af18-4a3a-3d41-ba8a-cb5c89f63b46","name":"PutElasticsearchHttp","comments":"","position":{"x":304.0,"y":464.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp","properties":{"elasticsearch-http-response-timeout":"15 secs","put-es-id-attr":null,"put-es-type":null,"put-es-index":null,"proxy-configuration-service":null,"elasticsearch-http-url":"#{Elasticsearch URL}","put-es-batch-size":"100","SSL Context Service":null,"elasticsearch-http-connect-timeout":"5 secs","Username":"#{Elasticsearch Username}","put-es-index-op":"index","elasticsearch-http-proxy-host":null,"proxy-username":null,"elasticsearch-http-proxy-port":null,"Character Set":"UTF-8","Password":"#{Elaticsearch Password}"},"propertyDescriptors":{"elasticsearch-http-response-timeout":{"name":"elasticsearch-http-response-timeout","displayName":"Response Timeout","identifiesControllerService":false,"sensitive":false},"put-es-id-attr":{"name":"put-es-id-attr","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false},"put-es-type":{"name":"put-es-type","displayName":"Type","identifiesControllerService":false,"sensitive":false},"put-es-index":{"name":"put-es-index","displayName":"Index","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-url":{"name":"elasticsearch-http-url","displayName":"Elasticsearch URL","identifiesControllerService":false,"sensitive":false},"put-es-batch-size":{"name":"put-es-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-connect-timeout":{"name":"elasticsearch-http-connect-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-es-index-op":{"name":"put-es-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false},"elasticsearch-http-proxy-host":{"name":"elasticsearch-http-proxy-host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"proxy-username":{"name":"proxy-username","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"proxy-password":{"name":"proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"elasticsearch-http-proxy-port":{"name":"elasticsearch-http-proxy-port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6"},{"identifier":"10282697-b536-3beb-a813-39bb14832a80","name":"ConsumeKafkaRecord_2_6","comments":"","position":{"x":304.0,"y":48.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","properties":{"header-name-regex":null,"Commit Offsets":"true","record-writer":null,"group.id":"#{Kafka Group ID}","bootstrap.servers":"#{Kafka Brokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","record-reader":null,"message-header-encoding":"UTF-8","sasl.username":null,"max.poll.records":"10000","security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Topic}","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cf0e9345-40d4-3870-a0a1-3ffb0b0c56b6","name":"","source":{"id":"89d26e5d-6b62-3259-9c7b-27cf7e70f2a6","type":"PROCESSOR","groupId":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6","name":"Set site-specific attributes","comments":""},"destination":{"id":"92d0af18-4a3a-3d41-ba8a-cb5c89f63b46","type":"PROCESSOR","groupId":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6","name":"PutElasticsearchHttp","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6"},{"identifier":"686ccb3a-3467-32c3-8f62-03d2ae0f1a42","name":"","source":{"id":"10282697-b536-3beb-a813-39bb14832a80","type":"PROCESSOR","groupId":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6","name":"ConsumeKafkaRecord_2_6","comments":""},"destination":{"id":"89d26e5d-6b62-3259-9c7b-27cf7e70f2a6","type":"PROCESSOR","groupId":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6","name":"Set site-specific attributes","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"308a0ab3-3bbd-33e9-bc60-0ea7ac8224e6"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"GHI Kafka to Elaticsearch","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"fbf35fd4-1d42-3e29-9b6d-c210900ca205"},{"identifier":"32777663-b603-3c82-bf5f-9278b74e9f40","name":"Kafka to S3: Source ABC","comments":"","position":{"x":496.0,"y":288.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b2afbfa9-0bba-349d-9e27-9456d04e4e04","name":"ConsumeKafkaRecord_2_6","comments":"","position":{"x":653.0,"y":370.5},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","properties":{"header-name-regex":null,"Commit Offsets":"true","record-writer":null,"group.id":"#{Kafka Group ID}","bootstrap.servers":"#{Kafka Brokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","record-reader":null,"message-header-encoding":"UTF-8","sasl.username":null,"max.poll.records":"10000","security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Topic}","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"32777663-b603-3c82-bf5f-9278b74e9f40"},{"identifier":"25d806c2-2519-3fb4-8233-d773f93eab88","name":"Set site-specific attributes","comments":"","position":{"x":656.0,"y":584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","data.manager":"#{Site Data Manager}","Stateful Variables Initial Value":null,"site.identifier":"#{Site Identifier}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"data.manager":{"name":"data.manager","displayName":"data.manager","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"site.identifier":{"name":"site.identifier","displayName":"site.identifier","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"32777663-b603-3c82-bf5f-9278b74e9f40"},{"identifier":"71d13807-ff33-317b-98e6-28cac54484be","name":"PutS3Object","comments":"","position":{"x":656.0,"y":792.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{S3 Bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"#{S3 Region}","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"32777663-b603-3c82-bf5f-9278b74e9f40"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"007e4912-c1ad-3659-b95f-e98bf6986799","name":"","source":{"id":"b2afbfa9-0bba-349d-9e27-9456d04e4e04","type":"PROCESSOR","groupId":"32777663-b603-3c82-bf5f-9278b74e9f40","name":"ConsumeKafkaRecord_2_6","comments":""},"destination":{"id":"25d806c2-2519-3fb4-8233-d773f93eab88","type":"PROCESSOR","groupId":"32777663-b603-3c82-bf5f-9278b74e9f40","name":"Set site-specific attributes","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"32777663-b603-3c82-bf5f-9278b74e9f40"},{"identifier":"72809058-800d-31e4-8adc-8964d1574e49","name":"","source":{"id":"25d806c2-2519-3fb4-8233-d773f93eab88","type":"PROCESSOR","groupId":"32777663-b603-3c82-bf5f-9278b74e9f40","name":"Set site-specific attributes","comments":""},"destination":{"id":"71d13807-ff33-317b-98e6-28cac54484be","type":"PROCESSOR","groupId":"32777663-b603-3c82-bf5f-9278b74e9f40","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"32777663-b603-3c82-bf5f-9278b74e9f40"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"ABC Kafka to S3","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"fbf35fd4-1d42-3e29-9b6d-c210900ca205"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"S3":{"name":"S3","parameters":[{"name":"S3 Region","description":"","sensitive":false,"value":"us-west-2"},{"name":"S3 Bucket","description":"","sensitive":false,"value":"my-bucket"}],"inheritedParameterContexts":[]},"DEF Kafka and Site":{"name":"DEF Kafka and Site","parameters":[],"inheritedParameterContexts":["Kafka and Site","Source DEF"]},"Kafka and Site":{"name":"Kafka and Site","parameters":[],"inheritedParameterContexts":["Kafka","Site Properties"]},"Source ABC":{"name":"Source ABC","parameters":[{"name":"Kafka Topic","description":"","sensitive":false,"value":"source-abc-topic"}],"inheritedParameterContexts":[]},"Kafka":{"name":"Kafka","parameters":[{"name":"Kafka Group ID","description":"","sensitive":false,"value":"MyGroup"},{"name":"Kafka Brokers","description":"","sensitive":false,"value":"localhost:9092"}],"inheritedParameterContexts":[]},"Site Properties":{"name":"Site Properties","parameters":[{"name":"Site Identifier","description":"","sensitive":false,"value":"1234"},{"name":"Site Data Manager","description":"","sensitive":false,"value":"MyDM"}],"inheritedParameterContexts":[]},"ABC Kafka to S3":{"name":"ABC Kafka to S3","parameters":[],"inheritedParameterContexts":["ABC Kafka and Site","S3"]},"GHI Kafka and Site":{"name":"GHI Kafka and Site","parameters":[],"inheritedParameterContexts":["Kafka and Site","Source GHI"]},"GCP Cloud Storage":{"name":"GCP Cloud Storage","parameters":[{"name":"GCP Project ID","description":"","sensitive":false,"value":"my-project"},{"name":"GCS Bucket","description":"","sensitive":false,"value":"my-bucket"}],"inheritedParameterContexts":[]},"Elasticsearch":{"name":"Elasticsearch","parameters":[{"name":"Elasticsearch Username","description":"","sensitive":false,"value":"elastic"},{"name":"Elasticsearch Password","description":"","sensitive":true},{"name":"Elasticsearch URL","description":"","sensitive":false,"value":"http://localhost:9200"}],"inheritedParameterContexts":[]},"ABC Kafka and Site":{"name":"ABC Kafka and Site","parameters":[],"inheritedParameterContexts":["Kafka and Site","Source ABC"]},"DEF Kafka to GCS":{"name":"DEF Kafka to GCS","parameters":[],"inheritedParameterContexts":["DEF Kafka and Site","GCP Cloud Storage"]},"Source GHI":{"name":"Source GHI","parameters":[{"name":"Kafka Topic","description":"","sensitive":false,"value":"source-ghi-topic"}],"inheritedParameterContexts":[]},"Source DEF":{"name":"Source DEF","parameters":[{"name":"Kafka Topic","description":"","sensitive":false,"value":"source-def-topic"}],"inheritedParameterContexts":[]},"GHI Kafka to Elaticsearch":{"name":"GHI Kafka to Elaticsearch","parameters":[],"inheritedParameterContexts":["GHI Kafka and Site","Elasticsearch"]}},"flowEncodingVersion":"1.0"}